<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container{
            margin: 0px auto;
            text-align: center;
            
        }
    
        .btn1{
            background-color: cornflowerblue;
            color: white;
        }
    
        .btn2{
            background-color: tomato;
            color: white;
        }
    </style>
    <title>Counter</title>
</head>
<body>
    <div class="container">
        <h1>Counter</h1>
        <p>{{ session['number'] }}</p>
        <form action="/add" method="POST">
        <input class="btn1" type="submit" value="add">
         </form>
        <form action="/destroy_session" method="POST">
        <input class="btn2" type="submit" value="reset">
        </form>
        
    
</body>
</html>